@font-face {
  font-family: 'red ring light';
  src: url(../fonts/red-ring-light.otf);
}
@font-face {
  font-family: 'red ring regular';
  src: url(../fonts/red-ring-regular.otf);
}
@font-face {
  font-family: 'red ring medium';
  src: url(../fonts/red-ring-medium.otf);
}
@font-face {
  font-family: 'red ring black';
  src: url(../fonts/red-ring-black.otf);
}
@font-face {
  font-family: 'red ring bold';
  src: url(../fonts/red-ring-bold.otf);
}
