<footer id="footer" class="footer">
  <div class="container">

    <!-- block -->
    <div class="footer__block">

      <!-- title -->
      <p class="footer__block--title">Больше</p>

      <!-- list -->
      <ul class="footer__block--list">
        <li>
          <a href="services.html">Услуги</a>
        </li>
        <li>
          <a href="portfolio.html">Портфолио работ</a>
        </li>
        <li>
          <a href="about.html">О компании</a>
        </li>
        <li>
          <a href="blog.html">Блог</a>
        </li>
        <li>
          <a href="contacts.html">Контакты</a>
        </li>
      </ul>
    </div>

    <!-- block -->
    <div class="footer__block">

      <!-- title -->
      <p class="footer__block--title">Контакты</p>

      <!-- list -->
      <ul class="footer__block--list">
        <li>Адрес: 03045, Украина, г. Киев</li>
        <li>ул. Плещеева, 10</li>

        <!-- block with phone -->
        <li class="phone">тел.:
          <a href="tel:+380935467656">+380935467656</a>
        </li>

        <!-- block with mail -->
        <li class="mail">e-mail:
          <a href="mailto:alpaka@gmail.com">alpaka@gmail.com</a>
        </li>

        <!-- block with social networks -->
        <li class="social">
          <a href="https://facebook.com/" target="_blank"></a>
          <a href="https://instagram.com/" target="_blank"></a>
        </li>
      </ul>
    </div>

    <!-- block -->
    <div class="footer__block">

      <!-- title -->
      <p class="footer__block--title">Отправка заявки</p>
      <p>Расскажите нам, какая упаковка<br>
        вам нужна и мы свяжемся с вами<br>
        в ближайшее время</p>

      <!-- button clear -->
      <div class="button button--clear" onclick="modalOpen()">Связаться</div>
    </div>
  </div>
</footer>
