<div class="container">

  <!-- light logotype -->
  <a href="index.html" class="header__hood--logo">
    <object data="images/logo.svg" type="image/svg+xml"></object>
  </a>

  <!-- mobile menu burger button -->
  <span class="header__hood--burger">
    <div class="open"></div>
    <div class="close"></div>
  </span>

  <!-- hood menu -->
  <ul class="header__hood--menu">
    <li>
      <a href="services.html">Услуги</a>
    </li>
    <li>
      <a href="portfolio.html">Портфолио работ</a>
    </li>
    <li>
      <a href="about.html">О компании</a>
    </li>
    <li>
      <a href="blog.html">Блог</a>
    </li>
    <li>
      <a href="contacts.html">Контакты</a>
    </li>
  </ul>

  <!-- buttons -->
  <div class="header__hood--buttons">

    <!-- phone number -->
    <a href="tel:+380936363304">+380936363304</a>

    <!-- button clear -->
    <div class="button button--clear" onclick="modalOpen()">Заказать</div>
  </div>
</div>

<!-- modal window -->
//= modal.html
