<div class="project">
  <div class="container">

    <!-- close -->
    <div class="project__close" onclick="projectClose()"></div>

     <!-- swiper touch slider -->
      <div id="blog" class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="images/portfolio-1.jpg" alt="O'su Yogurt">
          </div>
          <div class="swiper-slide">
            <img src="images/portfolio-1.jpg" alt="O'su Yogurt">
          </div>
        </div>
        <div class="container">

          <!-- cellar -->
          <div class="project__cellar">
            <div>
              <p class="project__cellar--title">O'su Yogurt</p>
              <p class="project__cellar--subtitle">Упаковка для продуктов питания</p>
            </div>
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
