<div class="project">
  <div class="container">

    <!-- close -->
    <div class="project__close" onclick="projectClose()"></div>

     <!-- swiper touch slider -->
      <div id="blog" class="swiper-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <img src="images/portfolio-1.jpg" alt="O'su Yogurt">
          </div>
          <div class="swiper-slide">
            <img src="images/portfolio-1.jpg" alt="O'su Yogurt">
          </div>
        </div>
        <div class="container">

          <!-- cellar -->
          <div class="project--cellar">
            <div class="swiper-pagination"></div>
            <div class="swiper-button-prev">
              <span>O'su Yogurt</span>
              <span>Упаковка для продуктов питания</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
